ul {
    list-style-type: none;
    margin-bottom: 70px;
    padding-left: 0;
}

ul li {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: #efefef solid 1px;
    border-bottom: #efefef solid 1px;
    padding-left: 0;
}

